@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f6f8f7;
    --foreground: #0f172a;
    --primary: #075232;
    --primary-foreground: #ffffff;
  }

  body {
    @apply bg-background text-slate-900 font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}
